.hero::before {
    content: '';
    background: url('/public/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    filter: brightness(.15);
    z-index: -10;
}
